<script>
var bombs = {{ map_bombs|safe }};
var fills = {{ fills|safe }};
var data = {{ map_data|safe }};

var bombMap = new Datamap({
    element: document.getElementById('map'),
    scope: 'world',
    geographyConfig: {
        hideAntarctica: false,
        popupOnHover: false,
        highlightOnHover: false
    },
    setProjection: function(element, options) {
        var projection, path;
        projection = d3.geo[options.projection]()
          .scale(element.offsetWidth * {{ scope.scale }})
          .translate([element.offsetWidth / 2, element.offsetHeight / 1.8])
          .center([{{ scope.lon }}, {{ scope.lat }}]);
        path = d3.geo.path()
            .projection( projection );

        return {path: path, projection: projection};
    },
    fills: fills,
    data: data
}).draw()

//draw bubbles for bombs
bombMap.bubbles(bombs, {
    popupTemplate:function (geography, data) {
            return ['<div class="hoverinfo"><strong>' +  data.name + '</strong>',
            '<br/>Payload: ' +  data.yeild + ' kilotons',
            '<br/>Country: ' +  data.country + '',
            '<br/>Date: ' +  data.date + '',
            '</div>'].join('');
    }
});
</script>